*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
  overflow-x: hidden;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    /* 8px = 50% of 16px */
    font-size: 50%;
  }

  @include respond(small-tab) {
    font-size: 45%;
  }
}

body {
  box-sizing: border-box;
  /* Only works if the overflow element does not have position: absolute in relation to body. The parent element of the overflow should not be the body */
  overflow-x: hidden;
}

// *:focus{
//   outline: none;
//   box-shadow: 0 0 0 0.8rem rgba(144, 2, 76, 0.5);
// }
