/* HELPER/SETTINGS CLASSES */

.margin-right-sm {
  margin-right: 4.8rem !important;
}

.margin-bottom-sm {
  margin-bottom: 2.4rem !important;
}

.margin-bottom-md {
  margin-bottom: 6rem !important;
}

.margin-bottom-lg {
  margin-bottom: 12rem !important;
}

.margin-center {
  margin: auto !important;
}

.center-text {
  text-align: center;
}

.border {
  width: 100%;
  margin: 2rem 0;
  border-bottom: var(--line-2);
}

strong {
  font-weight: 500;
}

//////////////////////////
// REACT-SELECT

// Used so label word-wraps
.lp-copy-sel__option,
.lp-copy-sel__single-value {
  white-space: pre-wrap !important;
}

//////////////////////////
// TOAST MESSAGES

.toastBody {
  font-family: 'Montserrat' sans-serif;
  font-size: 2.1rem !important;
}

/**************************/
/* Fixing Safari flexbox gap */
/**************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .doctor__content--attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

.no-flexbox-gap .featured-doctor__details__tag--icon {
  margin-right: 1.2rem;
}

.no-flexbox-gap .featured-doctor {
  margin-bottom: 3.2rem;
}

.no-flexbox-gap .featured-doctor--img {
  margin-right: 3.2rem;
}

@include respond(tab-land) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@include respond(tab-port) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
