/* HELPER/SETTINGS CLASSES */

.margin-right-sm {
  margin-right: 4.8rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.margin-bottom-lg {
  margin-bottom: 12.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
