@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
/*
COLORS

Primary: #90024C
Primary light: #CE3209
Primary dark: #8E201D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #90024c;
  --color-primary-light: #ce3209;
  --color-primary-dark: #8e201d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5re, rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
  --line-2: 2px solid var(--color-grey-light-3); }

/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- PRIMARY: 
#90024c
Primary light: #CE3209
Primary dark: #8E201D

- Tints: 
#f4e6ed
#e9ccdb
#a63570
- Shades: 
#820244
#2b0117
- Accents:
- Greys:


#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #e9ccdb from Coolors)
#555
#333
Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

--- 05 SHADOWS
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
:root {
  --color-primary: #4dabf7;
  --color-primary-light: #74c0fc;
  --color-primary-dark: #1c7ed6;
  --color-tint-1: #e7f5ff;
  --color-tint-2: #d0ebff;
  --color-tint-3: #a5d8ff;
  --color-shade-1: #1971c2;
  --color-shade-2: #1864ab;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #6f6f6f;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #555;
  --color-grey-dark-3: #777;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5re, rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
  --line-2: 2px solid var(--color-grey-light-3);
  --swiper-theme-color: var(--color-primary) !important;
  --swiper-navigation-size: 4rem !important; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  /* Only works if the overflow element does not have position: absolute in relation to body. The parent element of the overflow should not be the body */
  overflow-x: hidden; }

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--color-grey-dark-2); }

.sv-title,
.sv-button,
.sv_progress-buttons__page-title,
.sv-container-modern {
  font-family: 'Quicksand', sans-serif !important; }

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: var(--color-grey-dark-1);
  letter-spacing: -0.5px; }

.heading-primary {
  font-size: 6.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem; }

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem; }

.heading-tertiary {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  letter-spacing: 0.75px; }

.heading-description {
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 400;
  color: var(--color-grey-dark-1);
  letter-spacing: 0.75px; }

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-primary);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px; }

.paragraph {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.4;
  color: var(--color-grey-dark-2);
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px; }

.strikethrough {
  text-decoration: line-through;
  padding-right: 6px; }

.promo-heading {
  display: block;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--color-grey-dark-1);
  margin-bottom: 1rem;
  letter-spacing: 0.75px; }

.text-primary-color {
  color: var(--color-primary-dark); }

.text-color-white {
  color: #fff; }

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 4.8rem !important; }

.margin-bottom-sm {
  margin-bottom: 2.4rem !important; }

.margin-bottom-md {
  margin-bottom: 4.8rem !important; }

.margin-bottom-lg {
  margin-bottom: 12.8rem !important; }

.margin-center {
  margin: auto !important; }

.center-text {
  text-align: center; }

.border {
  width: 100%;
  margin: 2rem 0;
  border-bottom: var(--line-2); }

strong {
  font-weight: 500; }

.lp-copy-sel__option,
.lp-copy-sel__single-value {
  white-space: pre-wrap !important; }

.toastBody {
  font-family: 'Inter' sans-serif;
  font-size: 2rem !important; }

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2.4rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  /* For button tag only */
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s; }

.btn,
.btn--full:link,
.btn--full:visited {
  background-color: var(--color-primary);
  color: #fff; }

.btn--full:hover,
.btn--full:active {
  background-color: var(--color-shade-1);
  color: #fff; }

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: var(--color-grey-dark-2); }

.btn--outline:hover,
.btn--outline:active {
  background-color: #f4e6ed;
  color: var(--color-grey-dark-2);
  box-shadow: inset 0 0 0 3px #fff; }

.btn--form {
  background-color: var(--color-shade-2);
  color: #f4e6ed;
  align-self: end;
  padding: 1.2rem;
  transition: all 0.4s; }

.btn--form:hover {
  background-color: #fff;
  color: var(--color-grey-dark-2); }

.link:link,
.link:visited {
  display: inline-block;
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 4px;
  transition: all 0.3s; }

.link:hover,
.link:active {
  color: var(--color-shade-1);
  border-bottom: 1px solid transparent; }

.custom-button {
  font-family: 'Quicksand', sans-serif;
  border-radius: 1rem;
  width: auto;
  height: 6rem;
  letter-spacing: 0.75px;
  line-height: 1.4;
  padding: 0 3rem;
  font-size: 2rem;
  background-color: #fff;
  color: var(--color-shade-1);
  border: 1px solid var(--color-primary);
  font-weight: 400;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }
  .custom-button:not(:last-child) {
    margin-right: 1.2rem;
    margin-bottom: 1.2rem; }
  .custom-button:hover {
    background-color: var(--color-primary);
    color: #fff;
    border: 1px solid var(--color-primary-dark); }
  .custom-button__google-sign-in {
    background-color: var(--color-primary);
    color: white; }
    .custom-button__google-sign-in:hover {
      background-color: var(--color-primary-light);
      border: none; }

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem; }

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.8rem; }

.list-icon {
  width: 4.8rem;
  height: 4.8rem;
  color: var(--color-primary); }

.testimonial {
  background-color: #f4e6ed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.4rem 3.2rem;
  gap: 1.6rem;
  border-radius: 11px; }

.testimonial--img {
  width: 6.4rem;
  border-radius: 50%; }

.testimonial--text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8; }

.testimonial--date {
  font-size: 1.6rem;
  color: #6f6f6f;
  margin-top: auto; }

.doctor {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 6.4rem; }

.doctor:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06); }

.doctor-content {
  padding: 3.2rem 4.8rem; }

.doctor-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 1rem; }

.doctor-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.8rem; }

.doctor-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem; }

.doctor-attribute {
  font-size: 1.8rem;
  line-height: 1.5; }

.doctor-img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: top; }

.service {
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3.2rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); }

.service:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06); }

.service__content {
  padding: 3.2rem 4.8rem; }

.service__content--title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem; }

.service__content--attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem; }

.service__content--attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  white-space: nowrap; }

.service--img {
  width: 100%;
  height: 20rem;
  object-fit: cover; }

.auth-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1.2rem auto; }

.sign-up {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--color-primary);
  margin-bottom: 7.2rem;
  display: flex;
  flex-direction: column; }
  .sign-up .title {
    margin: 10px 0; }
  .sign-up .buttons {
    display: flex;
    justify-content: flex-start; }

.sign-in {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  margin-right: 6.4rem; }
  .sign-in .title {
    margin: 10px 0; }
  .sign-in .buttons {
    display: flex;
    justify-content: flex-start; }

.form-input-container {
  position: relative;
  margin: 3.2rem 0; }
  .form-input-container__input {
    background: none;
    background-color: white;
    color: #555;
    font-size: 1.8rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #555;
    margin: 2.5rem 0; }
    .form-input-container__input:focus {
      outline: none; }
    .form-input-container__input:focus ~ .form-input-label {
      top: -14px;
      font-size: 1.2rem;
      color: #333; }
  .form-input-container input[type='password'] {
    letter-spacing: 0.3em; }
  .form-input-container__label {
    color: #555;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all; }
    .form-input-container__label__shrink {
      top: -14px;
      font-size: 1.2rem;
      color: #333; }

.questionnaire__thank-you {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .questionnaire__thank-you > h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-grey-dark-1);
    text-align: center;
    margin-bottom: 1.2rem; }
  .questionnaire__thank-you > p {
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--color-grey-dark-1);
    text-align: center;
    margin-bottom: 2rem;
    max-width: 100%;
    line-height: 1.2; }

.spinner-overlay {
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.spinner-container {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid var(--color-grey-light-4);
  border-radius: 50%;
  border-top-color: var(--color-primary-dark);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite; }

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg); } }

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 150px;
  font-weight: 500;
  background-color: #51cf66; }

.tag--tufts {
  background-color: #fcc419; }

.legal-checkbox__input {
  margin-right: 3.2rem; }

.legal-checkbox__label {
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
  margin-bottom: 1.6rem;
  text-align: center;
  line-height: 1.4; }
  .legal-checkbox__label--link:link, .legal-checkbox__label--link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--color-primary-dark);
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s; }
  .legal-checkbox__label--link:hover, .legal-checkbox__label--link:active {
    color: var(--color-primary); }

.photo-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.2rem; }

.photo-gallery {
  width: 75%;
  min-height: 100%;
  border: 1px lightgray dashed;
  margin: 3.2rem; }
  .photo-gallery--title {
    font-size: 3.2rem;
    text-align: center; }
  .photo-gallery--subtitle {
    margin-top: 3.2rem;
    font-size: 2.4rem;
    text-align: center;
    line-height: 1.4; }
  .photo-gallery--error {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 2.4rem;
    color: var(--color-primary-dark); }
  .photo-gallery.dragging {
    background-color: #80808008; }
  .photo-gallery li {
    padding: 1.2rem;
    margin: 2rem;
    cursor: pointer;
    border: 1px lightgray solid;
    min-width: 75%;
    height: 100%;
    overflow: hidden; }
    .photo-gallery li.new-image {
      text-align: center;
      color: lightgray;
      display: flex;
      align-items: center;
      justify-content: center; }
      .photo-gallery li.new-image div {
        font-size: 3rem; }
    .photo-gallery li img {
      max-width: 100%; }

.footer {
  padding: 9.6rem 0 12.8rem 0;
  border-top: 1px solid #eee;
  margin-top: auto; }

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr;
  justify-items: center; }

.logo-col {
  display: flex;
  flex-direction: column; }

.footer-logo {
  display: block;
  margin-bottom: 3.2rem; }

.hipaa-icon {
  width: 7.2rem;
  height: 7.2rem; }

.copyright {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #767676;
  margin-top: 1.2rem;
  width: 60%; }

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem; }

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6; }

.address {
  margin-bottom: 2.4rem; }

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem; }

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s; }

.footer-link:hover,
.footer-link:active {
  color: #555; }

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem; }

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem; }

.grid:not(:last-child) {
  margin-bottom: 9.6rem; }

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr); }

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr); }

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr); }

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr); }

.grid--center-v {
  align-items: center; }

.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Sticky header so fixed height helps */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative; }

.logo {
  height: 3.2rem; }

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
  z-index: 999; }

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s; }

.main-nav-link:hover,
.main-nav-link:active {
  color: #1c7ed6; }

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #4dabf7; }

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #6d4929; }

/***************************/
/* MOBILE */
/***************************/
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none; }

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333; }

.icon-mobile-nav[name='close-outline'] {
  display: none; }

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03); }

.header {
  position: relative;
  z-index: 999; }

.sticky .section-hero {
  margin-top: 9.6rem; }

.checkout_insurance_header {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .checkout_insurance_header > h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 1rem; }
  .checkout_insurance_header > p {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--color-grey-dark-1);
    text-align: center;
    margin-bottom: 2rem;
    max-width: 80%; }

.visit-paid-container > h1 {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center; }

.visit-paid-container > p {
  color: var(--color-grey-dark-1);
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-align: center; }

.legal-container__header {
  color: var(--color-grey-dark-1);
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem; }

.legal-container__text {
  color: var(--color-grey-dark-1);
  font-weight: 300;
  font-size: 1.8rem;
  text-align: justify;
  white-space: pre-wrap; }

/***************************/
/* HERO SECTION */
/***************************/
.hero-container {
  background-image: linear-gradient(rgba(208, 235, 255, 0), rgba(208, 235, 255, 0.15)), url(/src/assets/img/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 105vh;
  background-attachment: scroll; }

.section-hero {
  padding: 4.8rem 0 4.8rem 0;
  height: 100vh; }

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  z-index: 1; }

.hero-text-box {
  z-index: 1; }

.frame-cheaper {
  position: relative; }

.frame::after {
  background-repeat: no-repeat;
  background-position: left bottom;
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  height: 23px;
  z-index: -1; }

.frame-cheaper::after {
  background-image: url(../../img/frame-blue-dark.png);
  left: -29px;
  width: 489px;
  bottom: -8px; }

.hero-description {
  font-size: 2.4rem;
  line-height: 1.6;
  margin-bottom: 4.8rem; }

.hero-btn-subtext {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  line-height: 1.2;
  width: 60%; }

.hero-description-item:not(:last-child) {
  margin-bottom: 2rem; }

.hero-infographic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 12.8rem;
  margin-top: 12.8rem;
  text-align: center; }
  .hero-infographic > img {
    margin-top: 4.8rem;
    object-fit: contain;
    max-width: 85vw;
    max-height: 80vh; }

/***************************/
/* HOW IT WORKS SECTION */
/***************************/
.section-how {
  scroll-margin: 3.2rem;
  margin: 9.6rem 0 0 0;
  padding: 4.8rem 0;
  background-color: var(--color-primary); }
  .section-how > .container {
    margin-bottom: 12.8rem; }

.feature-list-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.feature-list {
  list-style: none;
  margin: 0 auto; }

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 6.4rem; }

.feature-circle {
  border-radius: 50%;
  background: #449bde;
  opacity: 1;
  line-height: 0;
  position: relative;
  display: block;
  min-width: 12.8rem;
  height: 12.8rem;
  flex-shrink: 0;
  margin-right: 4.8rem; }

.feature-circle::after {
  content: '';
  display: block;
  padding-bottom: 100%; }

.feature-circle-text {
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 5.6rem; }

.feature-description {
  color: #fff;
  text-align: start; }

.feature-title {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 1.2rem; }

.feature-text {
  font-size: 2.4rem;
  line-height: 1.8; }

/***************************/
/* PRICING SECTION */
/***************************/
.section-pricing {
  scroll-margin: 2.4rem;
  padding: 6.4rem 0; }

.pricing-plan {
  border-radius: 11px;
  width: 75%;
  overflow: hidden; }

.plan-content {
  padding: 4.6rem; }

.pricing-plan--starter {
  border: 2px solid #fdf2e9;
  justify-self: end; }

.pricing-plan--complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden; }

.pricing-plan--complete::after {
  content: 'Add-on';
  position: absolute;
  top: 4%;
  right: -16%;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg); }

.plan-img {
  width: 100%;
  height: 40%;
  object-fit: cover; }

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem; }

.plan-name {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem; }

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem; }

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem; }

.plan-price-subtext {
  font-size: 3rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem; }

.plan-price-subtext span {
  font-size: 2rem;
  font-weight: 500;
  margin-right: 0.4rem; }

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f; }

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem; }

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 9.6rem; }

/***************************/
/* DOCTORS SECTION */
/***************************/
.section-doctors {
  scroll-margin: 3.2rem;
  padding-top: 9.6rem; }

.waitlist-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1.5px solid var(--color-primary);
  border-radius: 2rem;
  padding: 1.8rem;
  width: 100%;
  border-color: var(--color-primary);
  box-shadow: 0 0 1px var(--color-primary); }
  .waitlist-form__input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 0 auto; }
    .waitlist-form__input-container__label {
      visibility: hidden;
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: all 0.3s;
      order: -1;
      font-size: 1.2rem;
      margin-bottom: 1.2rem;
      color: var(--color-grey-dark-3); }
    .waitlist-form__input-container__input:focus + .waitlist-form__input-container__label {
      opacity: 1;
      height: auto;
      visibility: visible;
      text-align: start;
      margin-bottom: 1.2rem; }
    .waitlist-form__input-container__input {
      font-family: 'Quicksand', sans-serif;
      background: none;
      background-color: transparent;
      color: var(--color-grey-dark-1);
      border: none;
      font-size: 1.8rem;
      margin-right: 1rem; }
      .waitlist-form__input-container__input:focus {
        outline: none; }

/***************************/
/* PERSONAS SECTION */
/***************************/
.section-personas {
  scroll-margin: 3.2rem;
  padding-top: 4.8rem; }

.persona {
  line-height: 1.05;
  letter-spacing: 0.75px;
  color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: row; }
  .persona__image {
    width: 35%;
    height: auto;
    align-self: flex-start;
    margin-bottom: 4.4rem;
    margin-right: 4.4rem; }
  .persona__name {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 1.2rem; }
  .persona__occupation {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 1.8rem;
    color: var(--color-grey-dark-3); }
  .persona__description {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-grey-dark-2);
    margin-bottom: 2.4rem;
    line-height: 1.4; }
  .persona > .list {
    margin: 2rem 0; }
  .persona__item-header span {
    font-size: 2.2rem;
    line-height: 1.2;
    display: block;
    margin-bottom: 0.75rem; }
  .persona__item-header__light {
    color: var(--color-grey-dark-3); }

.section-additional {
  padding: 4.8rem 0 0 0; }

.blob-container {
  background-image: url("../../svg/SVG/text-blob-square.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 3.2rem;
  width: 100vw;
  height: 60vh; }
  .blob-container__overlay {
    max-width: 25%;
    text-align: center;
    padding: 3.2rem;
    margin: 4.8rem; }

.additional-waitlist {
  max-width: 50%;
  margin: auto; }

/***************************/
/* INGREDIENTS SECTION */
/***************************/
.section-ingredients {
  scroll-margin: 3.2rem;
  padding-top: 9.6rem; }

.ingredient {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 6.4rem; }

.ingredient:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06); }

.ingredient-content {
  padding: 3.2rem 4.8rem; }

.ingredient-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 1rem; }

.tag {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--color-grey-dark-2);
  border-radius: 150px;
  font-weight: 500; }

.tag--percentage {
  background-color: var(--color-tint-1); }

.ingredient-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.8rem; }

.ingredient-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem; }

.ingredient-attribute {
  font-size: 1.8rem; }

.ingredient-img {
  width: 100%;
  height: 20vh;
  object-fit: cover; }

.other-ingredients__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 4.4rem;
  line-height: 1.4;
  text-align: center;
  padding: 0 2.4rem; }

.section-faq {
  padding: 9.6rem 0 9.6rem 0; }

.faq-style-wrapper .faq-body .faq-row .row-content-text {
  line-height: 2.4rem; }

.not-in-area {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-grey-dark-1); }

.doctor-list {
  margin-top: 2rem;
  position: relative; }
  .doctor-list__title {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 6rem;
    color: var(--color-grey-dark-1); }
  .doctor-list__title::after {
    display: block;
    content: '';
    width: 100%;
    margin-top: 2rem;
    border-bottom: var(--line-2); }

.doctor-profile {
  margin-top: 2rem;
  position: relative; }
  .doctor-profile__sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem; }
  .doctor-profile__schedule {
    height: 100vh; }

.doctor-profile {
  margin-top: 2rem;
  position: relative; }
  .doctor-profile__sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem; }
  .doctor-profile__schedule {
    height: 100vh; }

.additional-info {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  border-bottom: var(--line-2);
  padding-bottom: 2rem;
  display: flex;
  gap: 3rem;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .additional-info {
      flex-direction: column; } }
  .additional-info__bio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 0 1 60%;
    text-align: start;
    line-height: 2.5rem; }
  .additional-info__bio--name {
    color: var(--color-primary-dark); }
    @media screen and (max-width: 768px) {
      .additional-info__bio--name {
        margin-bottom: 1rem; } }
  .additional-info__insurances {
    display: flex;
    flex-direction: column;
    text-align: start;
    line-height: 2.5rem; }
  .additional-info__insurances > h1 {
    color: var(--color-primary-dark);
    margin-bottom: 2rem; }

.zipcode {
  display: flex;
  justify-content: center; }

.zipcode-input {
  background: none;
  background-color: white;
  color: #555;
  font-size: 1.8rem;
  padding: 10px 10px 10px 5px;
  display: inline;
  width: 30%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #555;
  margin-right: 3.2rem;
  margin-bottom: 1.2rem; }
  .zipcode-input:focus {
    outline: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type='number'] {
  -moz-appearance: textfield; }

.service-request {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2.4rem; }

/* rem and em do NOT depend on html font-size in media queries.
   Instead, 1rem = 1em = 16px;
*/
/***************************/
/* 1344/16 = 84 */
/* BELOW 1344px (Smaller desktops) */
/***************************/
@media (max-width: 84em) {
  .section-hero {
    height: 100vh; }
  .hero {
    max-width: 120rem; }
  .heading-primary {
    font-size: 4.4rem; }
  .section-additional {
    max-width: 100%; }
  .blob-container__overlay {
    max-width: 35%;
    padding: 0 1.2rem; }
  .additional-waitlist {
    max-width: 60%;
    margin: auto; } }

/***************************/
/* 1200/16 = 75 */
/* BELOW 1200px (Landscape Tablets) */
/***************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%; }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem; }
  .header {
    padding: 0 3.2rem; }
  .main-nav-list {
    gap: 3.2rem; }
  .hero {
    gap: 4.8rem; } }

/***************************/
/* 944/16 = 59 */
/* BELOW 944px (Tablets) */
/***************************/
@media (max-width: 59em) {
  html {
    /* 8px = 50% of 16px */
    font-size: 50%; }
  .hero-container {
    background-image: linear-gradient(rgba(208, 235, 255, 0), rgba(208, 235, 255, 0.15)), url(/src/assets/img/hero-img-mobile.jpg);
    background-position: bottom right;
    height: 100vh; }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem; }
  .hero-text-box {
    text-align: center; }
  .hero-btn-subtext {
    width: 100%; }
  .frame-cheaper::after {
    background-image: url(../../img/frame-blue-dark-m.png);
    left: -1rem;
    width: 125%;
    bottom: -2rem; }
  .blob-container__overlay {
    max-width: 45%;
    padding: 0;
    margin: 0; }
  .additional-waitlist {
    max-width: 80%; }
  .service-content {
    padding: 2.4rem 3.2rem; }
  .pricing-plan {
    width: 100%; }
  .section-testimonials {
    padding: 9.6rem 0 4.8rem 0; }
  .testimonials {
    column-gap: 4.8rem;
    grid-template-columns: 1fr 1fr;
    margin: 0 3.2rem; }
  /* MOBILE NAVIGATION   */
  .btn-mobile-nav {
    display: block;
    z-index: 9999; }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    /* Hide Navigiation */
    /* Allows no transitions at all */
    /* display: none; */
    /* 1) Hide it visually */
    opacity: 0;
    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* 3) Hide it from screen readers */
    visibility: hidden; }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0); }
  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block; }
  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none; }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem; }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem; } }

/***************************/
/* 704/16 = 44 */
/* BELOW 704px (Tablets) */
/***************************/
@media (max-width: 44em) {
  .section-hero {
    padding: 1.2rem 1.8rem 0 1.8rem; }
  .hero-infographic {
    margin-top: 4.8rem;
    padding: 0 2.4rem; }
  .waitlist-form {
    margin: auto; }
  .additional-ingredients {
    grid-column: 1 / -1;
    justify-self: center; }
  .heading-primary {
    font-size: 3.2rem; }
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr); }
  .heading-secondary {
    margin-bottom: 4.8rem; }
  .waitlist-form {
    align-items: center; }
    .waitlist-form__button {
      width: 60%; }
  .insurances {
    grid-column: 1 / -1;
    justify-self: center; }
  .section-how {
    padding-bottom: 0; }
    .section-how > .container {
      margin-bottom: 6.4rem; }
  .feature {
    width: 100%;
    padding: 0 2.4rem; }
  .feature-circle {
    min-width: 9.6rem;
    height: 9.6rem;
    margin-right: 2.4rem; }
  .feature-circle-text {
    font-size: 4.4rem; }
  .feature-title {
    font-size: 2.4rem; }
  .feature-text {
    font-size: 2rem;
    line-height: 1.8; } }

/***************************/
/* 544/16 = 34 */
/* BELOW 544px (Phones) */
/***************************/
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem; }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr; }
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem; }
  .section-hero {
    padding: 2.4rem 0 6.4rem 0; }
  .hero {
    padding: 0 0; }
  .hero-description {
    text-align: center;
    padding-left: 1.2rem; }
  .hero-text-box {
    padding: 0 1.2rem; }
  .waitlist-form {
    flex-direction: column;
    align-items: flex-start; }
    .waitlist-form__input-container {
      text-align: start;
      min-width: 100%; }
      .waitlist-form__input-container__input {
        margin-right: 0;
        margin-bottom: 3.2rem;
        font-size: 1.8rem; }
    .waitlist-form__button {
      min-width: 100%; }
  .persona {
    flex-direction: column; }
    .persona__image {
      width: 75%;
      margin: auto;
      margin-bottom: 4.4rem; }
  .section-additional {
    max-width: 100%; }
  .testimonials {
    grid-template-columns: 1fr; }
  .blob-container__overlay {
    max-width: 75%; }
  .additional-waitlist {
    max-width: 100%; }
  .doctor {
    flex-direction: column; }
  .doctor--img {
    width: 100%; }
  .doctor--search-btn {
    margin-left: 0;
    align-self: center; }
  .service {
    flex-direction: column; }
  .service--img {
    width: 100%; }
  .service--search-btn {
    margin-left: 0;
    align-self: center; }
  .grid--footer {
    grid-template-columns: repeat(2, 1fr); }
  .logo-col {
    grid-row: 1; }
  .address-col {
    grid-row: 2; }
  .nav-col {
    grid-row: 2; }
  .auth-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.2rem auto; }
  .sign-in {
    margin-right: 0;
    margin-bottom: 2.4rem; }
    .sign-in .buttons {
      flex-direction: column; }
      .sign-in .buttons :first-child {
        margin-bottom: 1.2rem; }
  .sign-up .buttons {
    flex-direction: column;
    justify-content: stretch; }
  .zipcode {
    flex-direction: column; }
  .zipcode-input {
    width: 100%;
    text-align: center; }
  .photo-gallery {
    width: 95%; } }

/***************************/
/* 384/16 = 24 */
/* BELOW 384 (Small Phones) */
/***************************/
/**************************/
/* Fixing Safari flexbox gap */
/**************************/
.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem; }

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem; }

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem; }

.no-flexbox-gap .ingredient-attribute:not(:last-child) {
  margin-bottom: 2rem; }

.no-flexbox-gap .doctor__content--attribute:not(:last-child) {
  margin-bottom: 2rem; }

.no-flexbox-gap .service__content--attribute:not(:last-child) {
  margin-bottom: 2rem; }

.no-flexbox-gap .testimonial--img {
  margin-bottom: 1.6rem; }

.no-flexbox-gap .testimonial--text {
  margin-bottom: 1.6rem; }

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem; }

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem; }

.no-flexbox-gap .service-request > *:not(:last-child) {
  margin-right: 2.4rem; }

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem; } }

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem; } }
