.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Sticky header so fixed height helps */
  height: 6.4rem;
  padding: 1.8rem 1.6rem;
  position: relative;

  @include respond(small-tab) {
    padding-top: 2.1rem;
  }
}

.logo {
  width: 12rem;
}
