.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Sticky header so fixed height helps */
  height: min-content;
  padding: 0 4.8rem;
  padding-top: 2.1rem;
  position: relative;

  @include respond(tab-port) {
    padding-top: 2.1rem;
  }
}

.logo {
  width: 100%;

  @include respond(tab-port) {
    padding-top: 2.1rem;
  }
}
