.header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Sticky header so fixed height helps */
  height: 8rem;
  padding: 1.8rem 3.2rem;
  position: relative;

  margin: 0 auto;

  @include respond(small-tab) {
    height: 7.2rem;
    padding-top: 3.2rem;
    max-width: 100vw;
  }
}

.logo {
  width: 12rem;
  height: 12rem;
}
