.waitlist-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1.5px solid var(--color-primary);
  border-radius: 2rem;
  padding: 1.8rem;
  width: 100%;
  border-color: var(--color-primary);
  box-shadow: 0 0 1px var(--color-primary);

  &__input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 0 auto;

    //order: -1 is a trick where you can use the adjacent selector (+) like below
    &__label {
      visibility: hidden;
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: all 0.3s;
      order: -1;
      font-size: 1.2rem;
      margin-bottom: 1.2rem;

      color: var(--color-grey-dark-3);
    }

    &__input:focus + &__label {
      opacity: 1;
      height: auto;
      visibility: visible;
      text-align: start;
      margin-bottom: 1.2rem;
    }

    &__input {
      font-family: 'Quicksand', sans-serif;
      background: none;
      background-color: transparent;
      color: var(--color-grey-dark-1);
      border: none;
      font-size: 1.8rem;
      margin-right: 1rem;

      &:focus {
        outline: none;
      }
    }
  }
}

.section-additional {
  padding: 4.8rem 0 0 0;
}

.blob-container {
  background-image: url('../../svg/SVG/text-blob-square.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 3.2rem;
  width: 100vw;
  height: 60vh;

  &__overlay {
    max-width: 25%;
    text-align: center;
    padding: 3.2rem;
    margin: 4.8rem;
  }
}

.additional-waitlist {
  max-width: 50%;
  margin: auto;
}
