.waitlist-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1.5px solid var(--color-primary);
  border-radius: 2rem;
  padding: 1.8rem;
  width: 100%;
  border-color: var(--color-primary);
  box-shadow: 0 0 1px var(--color-primary);

  &__input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 0 auto;

    //order: -1 is a trick where you can use the adjacent selector (+) like below
    &__label {
      visibility: hidden;
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: all 0.3s;
      order: -1;
      font-size: 1.2rem;
      margin-bottom: 1.2rem;

      color: var(--color-grey-dark-3);
    }

    &__input:focus + &__label {
      opacity: 1;
      height: auto;
      visibility: visible;
      text-align: start;
      margin-bottom: 1.2rem;
    }

    &__input {
      font-family: 'Rubik', sans-serif;
      background: none;
      background-color: transparent;
      color: var(--color-grey-dark-1);
      border: none;
      font-size: 1.8rem;
      margin-right: 1rem;

      &:focus {
        outline: none;
      }
    }
  }
}

/***************************/
/* PERSONAS SECTION */
/***************************/

.section-personas {
  padding-top: 4.8rem;
}

.persona {
  line-height: 1.05;
  letter-spacing: 0.75px;
  color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: row;

  &__image {
    width: 35%;
    height: auto;
    align-self: flex-start;
    margin-bottom: 4.4rem;
    margin-right: 4.4rem;
  }

  &__name {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }

  &__occupation {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 1.8rem;
    color: var(--color-grey-dark-3);
  }

  &__description {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-grey-dark-2);
    margin-bottom: 2.4rem;
    line-height: 1.4;
  }

  & > .list {
    margin: 2rem 0;
  }

  &__item-header span {
    font-size: 2.2rem;
    line-height: 1.2;
    display: block;
    margin-bottom: 0.75rem;
  }

  &__item-header__light {
    color: var(--color-grey-dark-3);
  }
}

.section-additional {
  padding: 4.8rem 0 0 0;
}

.blob-container {
  background-image: url('../../svg/SVG/text-blob-square.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 3.2rem;
  width: 100vw;
  height: 60vh;

  &__overlay {
    max-width: 25%;
    text-align: center;
    padding: 3.2rem;
    margin: 4.8rem;
  }
}

.additional-waitlist {
  max-width: 50%;
  margin: auto;
}

/***************************/
/* INGREDIENTS SECTION */
/***************************/

.section-ingredients {
  padding-top: 4.8rem;
}

.ingredient {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.ingredient:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.ingredient-content {
  padding: 3.2rem 4.8rem;
}

.ingredient-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 1rem;
}

.tag {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--color-grey-dark-2);
  border-radius: 150px;
  font-weight: 500;
}

.tag--percentage {
  background-color: var(--color-tint-1);
}

.ingredient-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.8rem;
}

.ingredient-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ingredient-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.ingredient-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: var(--color-primary);
}

.ingredient-img {
  width: 100%;
}

.ingredient-description {
  font-size: 1.6rem;
}

.all-ingredients {
  text-align: center;
  font-size: 1.8rem;
}

.section-faq {
  padding: 4.8rem 0 9.6rem 0;
}

.faq-style-wrapper .faq-body .faq-row .row-content-text {
  line-height: 2.4rem;
}
