.hero-container-az {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/src/assets/img/hero-az.jpeg);
  background-image: linear-gradient(rgba(244, 230, 237, 0.4), rgba(244, 230, 237, 0.4)),
    url(/src/assets/img/hero-az.jpeg);

  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/src/assets/img/hero-az.jpeg);
  background-image: linear-gradient(rgba(244, 230, 237, 0.4), rgba(244, 230, 237, 0.4)),
    url(/src/assets/img/hero-az.jpeg);
  background-size: cover;
  background-position: right;
  height: 80vh;
  background-attachment: scroll;
}

.section-hero-az {
  // background-color: #f4e6ed;
  padding: 2.4rem 1.8rem 0 1.8rem;

  // background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  //   url(/src/assets/img/hero-az.jpeg);
  // background-image: linear-gradient(rgba(244, 230, 237, 0.4), rgba(244, 230, 237, 0.4)),
  //   url(/src/assets/img/hero-az.jpeg);
  // background-size: cover;
  // background-position: right;
  // height: 70vh;
  // background-attachment: scroll;
}

.waitlist-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__input {
    background: none;
    background-color: transparent;
    color: var(--color-grey-dark-1);
    font-size: 1.8rem;
    padding: 1.8rem;
    width: 75%;
    border: 1px solid var(--color-primary);
    border-radius: 2rem;
    margin: 2.5rem 0;

    &:focus {
      outline: none;
    }
  }

  &__button {
    width: 75%;
  }
}

/***************************/
/* PERSONAS SECTION */
/***************************/

.section-personas {
  padding-top: 4.8rem;
}

.persona {
  line-height: 1.05;
  letter-spacing: 0.75px;
  color: var(--color-grey-dark-1);

  &__name {
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }

  &__occupation {
    font-size: 2.4rem;
    font-weight: 400;
    margin-bottom: 1.8rem;
    color: var(--color-grey-dark-3);
  }

  &__description {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--color-grey-dark-2);
    margin-bottom: 2.4rem;
    line-height: 1.4;
  }

  & > .list {
    margin: 2rem 0;
  }

  &__item-header span {
    font-size: 2.2rem;
    line-height: 1.2;
    display: block;
    margin-bottom: 0.75rem;
  }

  &__item-header__light {
    color: var(--color-grey-dark-3);
  }
}
