.doctor-profile {
  margin-top: 2rem;
  position: relative;

  &__sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  &__schedule {
    height: 100vh;
  }
}

.additional-info {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  border-bottom: var(--line-2);
  padding-bottom: 2rem;

  display: flex;
  gap: 3rem;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  &__bio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 0 1 60%;
    text-align: start;
    line-height: 2.5rem;
  }

  &__bio--name {
    color: var(--color-primary-dark);
    @media screen and (max-width: 768px) {
      margin-bottom: 1rem;
    }
  }

  &__insurances {
    display: flex;
    flex-direction: column;
    text-align: start;
    line-height: 2.5rem;
  }

  &__insurances > h1 {
    color: var(--color-primary-dark);
    margin-bottom: 2rem;
  }
}
