/***************************/
/* HERO SECTION */
/***************************/

.hero-container {
  background-image: linear-gradient(rgba(208, 235, 255, 0), rgba(208, 235, 255, 0.15)),
    url(/src/assets/img/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 105vh;
  background-attachment: scroll;
}

.section-hero {
  padding: 4.8rem 0 4.8rem 0;
  height: 100vh;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  z-index: 1;
}

.hero-text-box {
  z-index: 1;
}

.frame-cheaper {
  position: relative;
}

.frame::after {
  background-repeat: no-repeat;
  background-position: left bottom;
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  height: 23px;
  z-index: -1;
}

.frame-cheaper::after {
  background-image: url(../../img/frame-blue-dark.png);
  left: -29px;
  width: 489px;
  bottom: -8px;
}

.hero-description {
  font-size: 2.4rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-btn-subtext {
  margin-top: 1.2rem;
  font-size: 1.8rem;
  line-height: 1.2;
  width: 60%;
}

.hero-description-item:not(:last-child) {
  margin-bottom: 2rem;
}

.hero-infographic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 12.8rem;
  margin-top: 12.8rem;
  text-align: center;

  & > img {
    margin-top: 4.8rem;
    object-fit: contain;
    max-width: 85vw;
    max-height: 80vh;
  }
}

/***************************/
/* HOW IT WORKS SECTION */
/***************************/

.section-how {
  scroll-margin: 3.2rem;
  margin: 9.6rem 0 0 0;
  padding: 4.8rem 0;
  background-color: var(--color-primary);

  & > .container {
    margin-bottom: 12.8rem;
  }
}

.feature-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-list {
  list-style: none;
  margin: 0 auto;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 6.4rem;
}

.feature-circle {
  border-radius: 50%;
  background: #449bde;
  opacity: 1;
  line-height: 0;
  position: relative;

  display: block;
  min-width: 12.8rem;
  height: 12.8rem;
  flex-shrink: 0;
  margin-right: 4.8rem;
}

.feature-circle::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.feature-circle-text {
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: #fff;
  font-size: 5.6rem;
}

.feature-description {
  color: #fff;
  text-align: start;
}

.feature-title {
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.feature-text {
  font-size: 2.4rem;
  line-height: 1.8;
}

/***************************/
/* PRICING SECTION */
/***************************/

.section-pricing {
  scroll-margin: 2.4rem;
  padding: 6.4rem 0;
}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
  overflow: hidden;
}
.plan-content {
  padding: 4.6rem;
}

.pricing-plan--starter {
  border: 2px solid #fdf2e9;
  justify-self: end;
}

.pricing-plan--complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: 'Add-on';
  position: absolute;
  top: 5%;
  right: -18%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;

  transform: rotate(45deg);
}

.plan-img {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-price-subtext {
  font-size: 3rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price-subtext span {
  font-size: 2rem;
  font-weight: 500;
  margin-right: 0.4rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 9.6rem;
}

/***************************/
/* DOCTORS SECTION */
/***************************/

.section-doctors {
  scroll-margin: 3.2rem;
  padding-top: 9.6rem;
}
