/***************************/
/* HERO SECTION */
/***************************/

.hero-container {
  background-color: var(--color-tint-1);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  position: relative;
  overflow: hidden;
  z-index: 999;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 3.2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-description-item:not(:last-child) {
  margin-bottom: 2rem;
}

.hero-video {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 50%;
  margin: auto;
  z-index: -1;

  &__content-desktop {
    width: 100%;
  }

  &__content-mobile {
    display: none;
  }
}

/***************************/
/* HOW IT WORKS SECTION */
/***************************/

.section-how {
  scroll-margin: 3.2rem;
  padding: 4.8rem 0 3.2rem 0;
}

.feature-icon {
  position: relative;
  margin-bottom: 7.2rem;
}

.feature-icon::before,
.feature-icon::after {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feature-icon::before {
  width: 45%;
  padding-bottom: 45%;
  background-color: #f4fce3;
  z-index: -2;
}

.feature-icon::after {
  width: 35%;
  padding-bottom: 35%;
  background-color: #e9fac8;
  z-index: -1;
}

.feature-icon-text {
  color: #94d82d;
  font-size: 3.2rem;
  text-align: center;
}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
  text-align: center;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: center;
}

/***************************/
/* PRICING SECTION */
/***************************/

.section-pricing {
  scroll-margin: 2.4rem;
  padding: 6.4rem 0;
}

.pricing-plan {
  border-radius: 11px;
  width: 75%;
}

.pricing-plan--starter {
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
  justify-self: end;
}

.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: 'Add-on';
  position: absolute;
  top: 5%;
  right: -20%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;

  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 9.6rem;
}

/***************************/
/* SERVICES SECTION */
/***************************/

.section-services {
  padding: 4.8rem 0 0 0;
}

/***************************/
/* ABOUT DOCTOR SECTION */
/***************************/

.section-about {
  padding: 4.8rem 0 0 0;
}

/***************************/
/* TESTIMONIALS SECTION */
/***************************/

.section-testimonials {
  padding: 4.8rem 0 3.2rem 0;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 4.8rem;
}
