.sale-banner {
  padding: 1.2rem;
  text-align: center;
  background-color: var(--color-grey-dark-1);

  &--text {
    margin-bottom: 0;
    color: var(--color-grey-light-1);
    text-transform: uppercase;
  }

  @include respond(small-phone) {
    padding: 1.2rem 3px;
  }
}

/***************************/
/* HERO SECTION */
/***************************/

.hero-container {
  background-image: linear-gradient(rgba(104, 141, 177, 0.4), rgba(104, 141, 177, 0.2)),
    url(/src/assets/img/hero-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 110vh;
  background-attachment: scroll;

  @include respond(tab-port) {
    background-image: linear-gradient(rgba(104, 141, 177, 0.4), rgba(104, 141, 177, 0.2)),
      url(/src/assets/img/hero-mobile.jpg);
    background-position: bottom center;
  }
}

.section-hero {
  padding-top: 12rem;
  height: 100vh;

  @include respond(small-tab) {
    padding-top: 6rem;
  }

  @include respond(small-phone) {
    padding-top: 1.2rem;
  }
}

.hero {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12rem;
  align-items: center;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
  }
}

.hero-text-box {
  &__heading-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.1rem;

    @include respond(small-phone) {
      margin-bottom: 0.5rem;
    }

    &--text {
      margin-bottom: 1.2rem;
      white-space: nowrap;
    }

    &--transition {
      @include respond(tab-port) {
        align-self: center;
      }
    }
  }

  & > .btn {
    @include respond(tab-port) {
      margin-top: 2.1rem;
    }
  }

  @include respond(tab-port) {
    text-align: center;
  }

  @include respond(phone) {
    padding: 0 1.2rem;
  }
}

/***************************/
/* INGREDIENTS SECTION */
/***************************/

.section-ingredients {
  scroll-margin: 3.2rem;
  padding: 12rem 0;
  position: relative;

  &--cream {
    position: absolute;
    top: 1.2rem;
    left: 6rem;
    max-width: 10%;
    max-height: max-content;

    @include respond(tab-port) {
      left: 3rem;
      max-width: 20%;
    }
  }

  &--leaf {
    position: absolute;
    bottom: 0rem;
    right: 6rem;
    max-width: 10%;
    max-height: max-content;

    @include respond(tab-port) {
      right: 3rem;
      max-width: 20%;
    }
  }
}

.featured-ingredients {
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    @include respond(phone) {
      width: 75%;
      margin: 0 auto;
    }

    &--img {
      height: 7.2rem;
      width: 7.2rem;
      margin-bottom: 2.4rem;

      @include respond(phone) {
        height: 9.6rem;
        width: 9.6rem;
        margin-bottom: 3.2rem;
      }
    }

    &--name {
      margin-bottom: 2.4rem;
    }
  }
}

/***************************/
/* PRODUCT PHOTO SECTION */
/***************************/

.section-product-photo {
  margin-top: 6rem;
  margin-bottom: 12rem;
  background-image: linear-gradient(rgba(104, 141, 177, 0.1), rgba(104, 141, 177, 0.2)),
    url(/src/assets/img/product-with-water-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 80vh;

  @include respond(tab-port) {
    background-image: linear-gradient(rgba(104, 141, 177, 0.1), rgba(104, 141, 177, 0.2)),
      url(/src/assets/img/product-with-water-mobile.jpg);
    margin-bottom: 6rem;
  }
}

/***************************/
/* HOW IT WORKS SECTION */
/***************************/

.section-how {
  scroll-margin: 3.2rem;
  margin-bottom: 12rem;

  @include respond(tab-port) {
    margin-bottom: 6rem;
  }
}

.steps-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2.4rem;
  margin-bottom: 6rem;

  @include respond(small-phone) {
    margin-bottom: 0rem;
  }

  @include respond(phone) {
    flex-direction: column;
    gap: 2.1rem;
  }

  &__step {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;

    &__number {
      width: 100%;
      margin-bottom: 3.2rem;

      &--text {
        padding: 2.1rem;
        width: 25%;
        margin: 0 auto;
        background-color: var(--color-secondary);
        color: var(--color-grey-light-1);
        position: relative;

        @include respond(small-tab) {
          // font-size: 2.8rem;
        }

        &::after {
          content: ' ';
          width: 275%;
          position: absolute;
          border-bottom: 2px solid var(--color-secondary);
          border-bottom-style: dashed;
          left: 125%;
          top: 0;
          height: 50%;

          @include respond(phone) {
            width: 0%;
            height: 0%;
          }
        }

        &--3::after {
          width: 0%;
        }
      }
    }

    &__text {
      height: 100%;
      margin-bottom: 2.1rem;

      @include respond(phone) {
        font-weight: 600;
      }

      &--title {
        margin-bottom: 2.1rem;
        // height: 3.2rem;
        @include respond(phone) {
          // font-size: 3.2rem;
        }
      }

      &--description {
        @include respond(phone) {
          // font-size: 2.2rem;
        }
      }
    }

    &--img {
      object-fit: cover;
      width: 100%;
      height: 100%;

      @include respond(tab-port) {
        height: 95%;
        width: 95%;
        margin: 0 auto;
      }

      @include respond(phone) {
        height: 75%;
        width: 75%;

        margin: 0 auto;
        order: -1;
        margin-bottom: 3.2rem;
      }
    }

    &--img:hover {
      transform: translateY(-1.2rem);
      box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
    }
  }
}

/***************************/
/* DOCTORS SECTION */
/***************************/

.section-doctors {
  scroll-margin: 3.2rem;
  margin-bottom: 12rem;

  @include respond(tab-port) {
    margin-bottom: 6rem;
  }
}

.main-doctors-container {
  padding-left: 0;

  @include respond(tab-port) {
    padding-left: 3.2rem;
  }
}

.additional-doctors-container {
  display: flex;
  gap: 6rem;
  padding-left: 0;

  @include respond(tab-port) {
    padding-left: 3.2rem;
  }

  @include respond(small-tab) {
    flex-direction: column;
    gap: 3.2rem;
  }
}

.featured-doctor {
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  width: 100%;
  flex-grow: 0;
  align-items: flex-start;

  &:first-child {
    margin-right: 0rem;
  }

  &--main {
    @include respond(small-tab) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &--img {
    object-fit: contain;
    width: 50%;
    height: auto;

    @include respond(small-tab) {
      width: 40%;
    }

    @include respond(small-phone) {
      width: 30%;
    }
  }

  &--img-main {
    object-fit: cover;
    width: 80%;
    height: 80%;
    margin-bottom: 2.1rem;

    @include respond(tab-land) {
      width: 65%;
      height: 65%;
    }

    @include respond(small-tab) {
      width: 100%;
      height: 100%;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;

    &--main {
      justify-content: center;
    }

    &--name {
      margin-bottom: 1.8rem;
    }

    &__tag {
      margin-bottom: 3.2rem;
      display: flex;
      gap: 1.2rem;
      background-color: var(--color-secondary-tint);
      align-items: center;
      max-width: min-content;
      padding: 3px 0;
      padding-left: 6px;

      &--main {
        @include respond(tab-port) {
          margin: 0 auto;
        }
      }

      @include respond(tab-port) {
        margin-bottom: 2.1rem;
      }

      &--icon {
        width: 3.2rem;
        height: 3.2rem;
        color: var(--color-secondary);
      }

      &--text {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: var(--color-secondary);
        white-space: nowrap;
        margin-bottom: 0;
        padding-right: 1.2rem;
      }
    }

    &--bio--main {
      // font-style: italic;

      @include respond(small-tab) {
        // font-size: 2.2rem;
      }
    }
  }
}

/***************************/
/* PRICING SECTION */
/***************************/

.section-pricing {
  scroll-margin: 2.4rem;
  margin-bottom: 7.2rem;
}

.pricing-plan {
  display: flex;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  @include respond(small-tab) {
    flex-direction: column;
    align-items: center;
  }

  &--img {
    max-width: 100%;
    height: 100%;
    margin-right: 7.2rem;

    @include respond(tab-land) {
      max-width: 50%;
    }

    @include respond(small-tab) {
      margin-right: 0;
      margin-bottom: 3.2rem;
      max-width: 100%;
      height: auto;
    }
  }

  &__content {
    @include respond(small-phone) {
      padding: 0 2.1rem;
    }
    &--header {
      margin-bottom: 2rem;
    }

    &--title {
      margin-bottom: 1.2rem;
    }

    &--description {
      margin: 0;
    }

    &__skin-types {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      &--title {
        margin-bottom: 1rem;
        font-size: 1.8rem;
      }

      &__bubbles {
        display: grid;
        row-gap: 1rem;
        column-gap: 0.6rem;
        grid-template-columns: repeat(3, 1fr);

        &--bubble {
          font-weight: 500;
          text-align: center;
          border-radius: 1.2rem;
          background-color: var(--color-secondary);
          margin: 0;

          @include respond(small-phone) {
            white-space: nowrap;
            padding: 0.5rem 0.3rem;
          }
        }
      }
    }
  }
}

/***************************/
/* FAQ SECTION */
/***************************/

.section-faq {
  margin-bottom: 6rem;
}

.faq-style-wrapper .faq-body .faq-row .row-content-text {
  line-height: 2.4rem;
}
