.not-in-area {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--color-grey-dark-1);
}

.doctor-list {
  margin-top: 2rem;
  position: relative;

  &__title {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 6rem;
    color: var(--color-grey-dark-1);
  }

  &__title::after {
    display: block;
    content: '';
    width: 100%;
    margin-top: 2rem;
    border-bottom: var(--line-2);
  }
}

.doctor-profile {
  margin-top: 2rem;
  position: relative;

  &__sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  &__schedule {
    height: 100vh;
  }
}
