//////////////////////////
// SIGN-IN SIGN-UP CONTAINER

.auth-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1.2rem auto;
}

//////////////////////////
// SIGN-UP

.sign-up {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--color-primary);
  margin-bottom: 7.2rem;

  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
  }
}

//////////////////////////
// SIGN-IN

.sign-in {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--color-primary);

  display: flex;
  flex-direction: column;
  margin-right: 6.4rem;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: flex-start;
  }
}
