.legal-checkbox {
  &__input {
    margin-right: 1.2rem;
  }

  &__label {
    font-size: 1.8rem;
    color: var(--color-grey-dark-1);
    font-weight: 500;
    margin-bottom: 1.6rem;
    text-align: center;
    line-height: 1.4;

    &--link:link,
    &--link:visited {
      display: inline;

      text-decoration: none;
      color: var(--color-primary-dark);
      font-weight: 500;
      font-size: 1.8rem;
      transition: all 0.3s;
    }

    &--link:hover,
    &--link:active {
      color: var(--color-primary);
    }
  }
}
