.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &__item {
    display: flex;
    align-items: center;
    font-size: 1.8rem;

    &--icon {
      width: 3.2rem;
      height: 3.2rem;
      color: var(--color-primary);
      margin-right: 1.8rem;
    }

    &--text {
      text-align: start;
      width: 100%;
      line-height: 1.2;
    }
  }
}
